.rectwarning {
    fill: rgb(255, 120, 120);
}

#mapid {
    width: 800px;
    height: 400px;
}


/*Para hacer el div-svg escalable añadimos las dos siguientes clases*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}